
<% if @pitch.errors.messages.any? %>
  <ul>
    <% @pitch.errors.messages.each do |key, value| %>
      <li>The <%= key %> column <%= value.first %>.</li>
    <% end %>
  </ul>
<% end %>


<p><%= puts "Job ID = #{@pitch.did}" %></p>
<p><%= puts "Company = #{@pitch.company}" %></p>
<p><%= puts "Job title = #{@pitch.job_title}" %></p>


<div class="job_description">

<%= form_for @pitch do |f| %>
<p>
  <%= f.label :did, "Job ID" %>
  <%= f.text_field :did, :readonly => true %>

  <%#= f.label :job_title, "Job Title:" %>
  <%#= f.text_field :job_title, :readonly => true %>

  <%#= f.label :company, "Company:" %>
  <%#= f.text_field :company, :readonly => true %>

  <%#= f.label :location, "Location:" %>
  <%#= f.text_field :location, :readonly => true%>
</p>

<ul>
  <li><%= f.label :first_name, "First Name:" %>
  <%= f.text_field :first_name %> 
  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %></li>
  
  <li><%= f.label :email, "E-mail:" %>
  <%= f.text_field :email, :size => 38 %>
  <%= f.label :phone, "Phone #{}:" %>
  <%= f.text_field :phone, :size => 37%></li>

  <li><%= f.label :video_link, "Video Link:" %>
  <%= f.text_field :video_link %>
  <%= f.label :profile_link, "LinkedIn:" %>
  <%= f.text_field :profile_link, :size => 36 %></li>
</ul>

  <ul>
    <li><%= f.label :headline, "Headline:"  %>
    <%= f.text_field :headline, :size => 89 %> <br>
    <%= f.label :why_you_want_me, "Why you want me:" %>
    <%= f.text_field :why_you_want_me, :size => 73 %></li><br>
    
    <li><%= f.label :jd_answer, "Answering the Job Description:" %><br>
    <%= f.text_area :jd_answer, :size=> '77x10' %><br>
 
    <%= f.label :what_i_would_do, "If I were in this position:" %><br>
    <%= f.text_area :what_i_would_do, :size=> '77x10' %>
 

    <li><%= f.label :item1, "Item 1" %>
    <%= f.text_field :item1 %><br>
    <%= f.label :item2, "Item 2" %>
    <%= f.text_field :item2 %><br>
    <%= f.label :item3, "Item 3" %>
    <%= f.text_field :item3 %>
    
  
    
  </ul>
  

    <%= f.submit %>
  <p> Job Description
    <%= CGI::unescapeHTML(@result["JobDescription"]).gsub(/<br\s*\/?>/, '').gsub(/(&nbsp;|\s)+/, " ").html_safe %>
    
  </p>

 
<% end %>

</div>