<h1> The Pitch: Results </h1>

<form action="/jobs/results" method="get">
  Job Title: <input type="text" name="job_title" placeholder='<%= @job_title %>'>
  Company Name: <input type="text" name="company_name" placeholder='<%= @company_name %>'>
  Location: <input type="text" name="location" placeholder='<%= @location %>'>
  <input type="submit" name="submit" value="Submit Form">
</form>

<ul>
<% @search_results.each do |result| %>
	<li><b><%= result["JobTitle"] %></b> | <%= result["Company"] %> | <%= result["PostedDate"] %></li>
	<li><a href="link">View Full Description</a></li>
	<li><p>Job Type: <%= result["EmploymentType"] %> | <%= result["Location"] %></p></li>
	<li><p>Summary: <%= result["DescriptionTeaser"] %></p></li>
<% end %>

</ul>