<div class="job_search_results">
	<h2><p><%= notice %></p></h2>
</div>

<div class="job_description">

	<p><b>Name:</b> <%=@pitch.first_name%> <%=@pitch.last_name%></p>
	<p><b>E-Mail:</b> <%=@pitch.email%> | <b>Phone:</b> <%=@pitch.phone%>
	<p><a href="http://<%=@pitch.video_link%>">Video</a> | <a href="http://<%=@pitch.profile_link%>">LinkedIn</a></p>

	<hr />

	<p><%= link_to "Delete", pitch_url(@pitch.id), :method => :delete %></p>
	<p><%= link_to "Edit", edit_pitch_url(@pitch.id) %></p>
	<p><%= link_to "Back to index", pitches_url %></p>
</div>

