<% @body_class = "homepage" %>

<div class="recruiter_search">
<h1>Recruiter Page: Check Submissions</h1>

<div class="job_description">
<%= form_tag recruiter_index_url, :method => "get" do %>
  <%= label_tag(:did, "Search for:") %>
  <%= text_field_tag(:did) %>
  <%= submit_tag("Search") %>
<% end %>
</div>

<p>
  <%= notice %>
</p>

</div>

